<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>pushTransitionDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CFD05A081DC86DFE0086C6AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CFD05A211DC86DFE0086C6AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CFD05A2C1DC86DFE0086C6AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
